:root {
  --color-fondo: rgb(17, 16, 20);
  --color-detalles: goldenrod;
  --color-texto: white;
  --color-texto-boton: black;
  --color-focus: green;
  --color-J1: #4caf50;
  --color-J2: #ff5722;
  font-size: clamp(4px, calc(100vw / 100), 10px);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 1200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins";

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-fondo);
  color: var(--color-texto);
}

/* HOME CONTAINER (COMPONENTE)------------------- */
.home-container {
  margin: 0;
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  border: 1px solid var(--color-detalles);
  box-shadow: 0px 0px 5px 1px var(--color-detalles);
}
.home-container > h1{
  font-size: calc(clamp(10px, 5.2rem, 30px) + 12px);
  text-shadow: 0px 0px 15px var(--color-detalles);
}
.home-container > button{ 
  margin: calc(0.5rem + 6px);
  padding: 1.2rem 2rem;

  font-size: clamp(14px, 2.2rem, 18px);
  font-family: "Poppins";

  border-radius: 5px;
  color: var(--color-texto-boton);
  border: none;
  background-color: var(--color-detalles);
}
.home-container > button:hover{ 
  box-shadow: 0px 0px 10px 2px var(--color-focus);
}

/* HEADER (COMPONENTE)-------------------------- */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > h2{
  margin: 6px 0 0 0;
  padding: 8px;

  font-size: 30px;
  text-shadow: 0px 0px 15px gold;
}
header > .botones {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header > .botones > button{
  margin: 8px;
  padding: 8px;
  border-radius: 5px;

  font-family: "Poppins";
  font-size: 15px;

  background-color: rgb(0, 0, 0);
  color: goldenrod;
  border: 1px solid goldenrod;
}
header > .botones > button:hover {
  box-shadow: 0px 0px 10px 2px green;
}
/* TURNOS (COMPONENTE)-------------------------- */
.turnos{
  margin: 10px 0;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: calc(15px);
}
.turnos > .title {
  font-family: "Poppins";
  padding: 10px 20px;
  border-radius: 5px;
}
.turnos > .J1 {
  padding: 6px 12px;
  font-family: "Poppins";
  border-radius: 5px;
  color: white;
  background-color: RED;
}
.turnos > .J2 {
  padding: 10px 20px;
  font-family: "Poppins";
  border-radius: 5px;
  color: white;
  background-color: blue;
}
/* GANADOR (COMPONENTE)------------------------- */
.ganador {
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ganador > .G1 {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 2px solid goldenrod;
  background-color: RED;
}
.ganador > .G2 {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 2px solid goldenrod;
  background-color: blue;
}
.ganador > .EMP {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 2px solid goldenrod;
  background-color: green;
}

/* JUEGO ALINEA 4 -------------------*/
.alinea4-container,
.tateti-container,
.generala-container{
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* tablero --------*/
.alinea4-container > .tablero {
  margin: 0px;
  padding: 0;
  width: calc(52rem + 90px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: calc(1rem + 4px);
}
.alinea4-container > .tablero > .celda {
  width: calc(6rem + 5px);
  height: calc(6rem + 5px);
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 100%;
  background-color: grey;

  font-size: 30px;
}
.alinea4-container > .tablero > .celda:hover{ 
  box-shadow: 0px 0px 5px 1px green;
}
.alinea4-container > .tablero > .rojo {
  background-color: red;
}

.alinea4-container > .tablero > .azul {
  background-color: blue;
}

/* JUEGO TATETI -----------------------------------------------*/
.tateti-container > .tablero{
  margin: 0px;
  padding: 0;
  width: 260px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.tateti-container > .tablero > .celda {
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 100%;
  background-color: grey;
  
  font-size: 30px;
}
.tateti-container > .tablero > .celda:hover{ 
  box-shadow: 0px 0px 5px 1px green;
}
.tateti-container > .tablero > .rojo {
  background-color: red;
}

.tateti-container > .tablero > .azul {
  background-color: blue;
}

/* JUEGO GENERALA -----------------------------------------------*/
.generala-container .dados-container{
  margin: 10px 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* panel FIJADOS */
.generala-container > .dados-container > .fijados{
  width: 350px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generala-container > .dados-container > .fijados > .title{
  font-size: 20px;
  margin: 0;
  padding: 10px;
}
.generala-container > .dados-container > .fijados > .serie-dados{
  width: 250px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.generala-container > .dados-container > .fijados > .serie-dados > div{
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  color: black;
  background-color: white;
}
/* panel A TIRAR */
.generala-container > .dados-container > .atirar{
  width: 350px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generala-container > .dados-container > .atirar > .title{
  margin: 0;
  padding: 5px 10px;

  font-size: 20px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: var(--background-color);
}
.generala-container > .dados-container > .atirar > .title:hover{
  text-shadow: 0px 0px 15px green;
}
.generala-container > .dados-container > .atirar > .serie-dados{
  width: 250px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.generala-container > .dados-container > .atirar > .serie-dados > button{
  margin: 5px;
  padding: 5px;
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 5px;
  background-color: white;
}
.generala-container > .dados-container > .atirar > .serie-dados > button:hover{
  box-shadow: 0px 0px 5px 1px green;
}
.generala-container > div {
  font-size: 16px;
}
/* boton siguiente ronda */
.generala-container > .dados-container > .siguiente-ronda,
.generala-container > .dados-container > .fijar {
  margin: 5px 0 0 0;
  padding: 8px;
  border-radius: 5px;

  font-size: 15px;

  background-color: rgb(0, 0, 0);
  color: goldenrod;
  border: 1px solid goldenrod;
}
/* Tablero */
.generala-container > .tablero {
  margin: 0;
  padding: 0;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.generala-container > .tablero > .titulos,
.generala-container > .tablero > .total {
  font-size: 22px;
  font-weight: 600;
}
.generala-container > .tablero > li {
  font-size: 15px;
  width: 250px;
  margin: 0px;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid grey;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.generala-container > .tablero > .concretada {
  background-color: green;
  cursor: default;
}
.generala-container > .tablero > .linea:hover {
  box-shadow: 0px 0px 5px 1px green;
  cursor: default;
}
.generala-container > .tablero > .concretada:hover {
  box-shadow: none;
}


